<div class="page-header">
  <%= link_to 'Add a New Product', new_product_path, class: 'btn btn-success pull-right' %>
  <h1>Your Product Inventory</h1>
</div>


<% if @products.any? %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Sku</th>
      <th>On hand</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr id="<%= dom_id(product) %>">
        <td><span id="<%= dom_id(product) %>_sku"><%= product.sku %></span></td>
        <td><span id="<%= dom_id(product) %>_on_hand"><%= product.on_hand %></span></td>
        <td><%= link_to 'Set Quantity', edit_product_path(id: product.id), remote: true, class: 'btn btn-primary', id: dom_id(product) + '_edit' %></td>
        <td><%= link_to 'Delete Product', product, method: :delete, remote: true, class: 'btn btn-danger', id: dom_id(product) + '_destroy', data: {confirm: "Really delete this product?"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
